
#choseBlock {
	margin-top: 100px;
	width: 750px;
  	margin:0 auto;
  	padding-bottom: 80px;
}

.textArea {

}

.textAreaTitle {
	font-size: 45pt;
	font-family: 'Georgia', serif;
	text-align: center;
	animation-name: appear;
 	animation-duration: 0.5s;
}

.text {
	color: #3d3d3d;
	margin-top: 40px;
	font-size: 20pt;
	font-family: 'Georgia', serif;
	animation-name: appear;
 	animation-duration: 0.8s;
}

.choseArea {
	margin-top: 15px;
}

.invitations, .video, .web {
	display: inline-block;
	margin-top: 30px;
	margin-left: 10px;
}

.image {
	width: 230px;
	height: 180px;
	border-radius: 10px;
}

.image:hover {
	cursor: pointer;
	opacity: 0.7;
}

.invImgText, .videoImgText, .webImgText {
	display: block;
	position: absolute;
	background: #333;
	color: white;
	padding: 20px;
	border-radius: 10px;
}

.invImgText, .videoImgText, .webImgText {
	margin-top: 20px;
	margin-left: 20px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
}

.invitations:hover .invImgText {
	margin-top: 0;
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.video:hover .videoImgText {
	margin-top: 0;
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}


.web:hover .webImgText {
	margin-top: 0;
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.invitations {
	 animation-name: appear ;
 	 animation-duration: 1s;
}

.video {
	 animation-name: appear ;
 	 animation-duration: 1s;
}

.web {
	 animation-name: appear ;
 	 animation-duration: 1s;
}

@keyframes appear {
 0% {opacity: 0;}
 50% {opacity: 0.5;}
 100% {opacity: 1;}
}

