.container {

}

.menu {
	background-color: #3d3d3d; 
	padding: 2%;
	margin-top: 20px;
	animation-name: appear;
 	animation-duration: 0.5s;
 	color: white;
}

.menuHolder {
	margin: 0 auto;
	width: 1000px;
}

.introduction {
	animation-name: appear;
 	animation-duration: 1s;
}


.wedding, .adultEvent, .childrenEvent, .contact, .aboutus {
	margin-left: 4%;
	font-size: 20pt;
	padding: 1.5%;	
	transition: color 0.3s;
}

.wedding:hover, .adultEvent:hover, .childrenEvent:hover, .contact:hover, .aboutus:hover {
	color: #d1d1d1;
	cursor: pointer;
	transition-delay: 0s;
}

.weddingBlock {
	background: rgba(230,237,235,1);
}

.adultEventBlock {
	background: rgba(197,232,223,1);
}

.childrenEventBlock {
	background: rgba(138,191,178,1);
}

.weddingBlockText, .adultEventBlockText, .childrenEventBlockText {
	float: left;
	color: #3d3d3d;
	margin-top: 30px; 
	font-size: 15pt;
	line-height: 1.4;
	margin-left: 3%;
	width: 40%;
	margin-bottom: 30px;
}

.weddingBlock, .adultEventBlock, .childrenEventBlock {
	border-style: solid;
	border-width: 8px;
	border-color: white;
	border-radius: 10px;
}

.weddingBlockHolder, .adultEventBlockHolder, .childrenEventBlockHolder, .contactBlockHolder {
	width: 1000px;
	margin: 0 auto;
}

.weddindBlockTitle, .adultEventBlockTitle, .childrenEventBlockTitle, .contactBlockTitle {
	margin: 0 auto;
	font-size: 50pt;
	width: 350px;
}

.weddindBlockImages, .adultEventBlockImages, .childrenEventBlockImages {
	width: 450px;
	height: 400px;
	border-radius: 15px;
	margin-left: 5%;
	margin-bottom: 30px;
	margin-top: 30px;
	opacity: 1;
	transition: opacity 0.3s;
}


.weddindBlockImages:hover, .adultEventBlockImages:hover, .childrenEventBlockImages:hover {
	cursor: pointer;
	opacity: 0.65;
	transition-delay: 0s;
}




.contactBlock {
	padding-bottom: 2%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 10px;
	background-color: rgba(250,250,250,0.8);
}




.inputFields {
	width: 450px;
	float: left;
	margin-left: 3%;
}

.inputText {
	margin-left: 5%;
	display: inline-block;
}

.fields {
	margin-top: 30px;
	margin-bottom: 20px;
}

#userName, #userEmail, #subject {
	padding: 2%;
	width: 430px;	
	height: 25px;
	margin-top: 3%;
	border-radius: 10px;
	font-size: 15pt;
}

.inputBtn {
	width: 200px;
	height: 50px;
	margin-left: 79%;
	font-size: 15pt;
	border-radius: 10px;
	background: #3d3d3d;
	border-style: solid;
	border-width: 2px;
	border-color: #3d3d3d;
	color: white;
	transition: color 0.3s, background 0.3s;
}
.inputBtn:hover {
	cursor: pointer;
	color: #3d3d3d;
	background-color: rgba(250,250,250,0.8);
	transition-delay: 0s;
}

#inputArea{
	width: 450px;
	height: 200px;
	border-radius: 10px;
	font-size: 15pt;
}

#inputControll {
	visibility: hidden;
}

#output {
	text-align: center;
	font-size: 20pt;
	animation-name: appear;
 	animation-duration: 1s;
}

.folowBlock {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 3%;
	padding-top: 2%;
}

#footer {
	border-top: 1px solid #3d3d3d;
	margin: -17px;
}

.fbInstBlock {
	margin-left: 3%;
	float: left;
	width: 300px;
}

.fbInstBlockText {
	display: inline-block;
	font-size: 12pt;
	float: left;
	margin-top: 3%;
}

.fb, .instagram {
	text-align: center;
	margin-left: 5px;
	width: 20px;
	display: inline-block;
	font-size: 15pt;
	background: #f0f0f0;
	padding: 2%;
	border-radius: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #3d3d3d;
	transition: background 0.3s, color 0.3s;
}

.fb:hover {
	background: #3c4bd6;
	color: white;
	transition-delay: 0s;
	cursor: pointer;
}

.instagram:hover {
	background: #aa2fcc;
	color: white;
	transition-delay: 0s;
	cursor: pointer;
}

.companyInfoBlock {
	display: inline-block;
	font-size: 12pt;
	text-align: center;
	margin-left: 60px;
	margin-top: 1%;
}

.hidefolowBlock, .hidefooter {
	position: static;
	display: none;
}


.imageBack {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
}

.imageHolder {
	margin: 5% auto;
	width: 70%;
}

.exitHolder {
	position: absolute;
	width: 930px;
}

.exit:before, .exit:after {
	float: right;
	content: ' ';
	height: 30px;
	width: 2px;
	background-color: black;
}

.exit:before {
transform: rotate(45deg);
}

.exit:after {
transform: rotate(-45deg);
}

.exit:hover {
	cursor: pointer;
}
