
.weddingContainerMenuHolder, .adultEventContainerMenuHolder, .childrenEventContainerMenuHolder {
	margin: 0 auto;
	width: 1000px;
}

.weddingContainerMenu, .adultEventContainerMenu,.childrenEventContainerMenu {
	padding: 2%;
	animation-name: appear;
 	animation-duration: 0.5s;
 }

 .weddingContainerMenuBack, .adultEventContainerMenuBack, .childrenEventContainerBack {
 	font-size: 30pt;
 	margin-left: 3%;
 	transition: color 0.3s;
 }

 .weddingContainerMenuBack:hover, .adultEventContainerMenuBack:hover, .childrenEventContainerBack:hover {
 	cursor: pointer;
 	color: #d1d1d1;
 	transition-delay: 0s;
 }

 .weddingContainerMenuName, .adultEventContainerMenuName, .childrenEventContainerName {
 	margin-left: 20%;
 	font-size: 50pt; 
 }

.weddingContainerImages, .adultEventContainerImages, .childrenEventContainerImages {
	width: 1000px;
	animation-name: appear;
 	animation-duration: 0.8s;
 	margin: 0 auto;
 }

 .weddingPictures, .adultEventPictures, .childrenEventPictures {
 	width: 450px;
	height: 400px;
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 15px;
	transition: opacity 0.3s;
 }

 .weddingPictures:hover, .adultEventPictures:hover, .childrenEventPictures:hover {
 	opacity: 0.65;
	transition-delay: 0s;
	cursor: pointer;
 }