.version {
	margin-left: 95%;
	font-size: 8pt;
}

.titleDiv {
	width: 750px;
	padding-top: 5%;
  	margin:0 auto;
}

.hideMainDiv {
	position: static;
	/*display: none;*/
	visibility: hidden;
}

body {
	animation-name: bodyanimation;
	animation-duration: 4s;
	background-color: rgba(192,192,192,0.4);
	white-space: pre-line;
}
