#titleDiv{
	font-size: 45pt;
	text-align: center;
	margin-top: 2%;
	font-family: 'Impact', fantasy;
	animation-name: title ;
 	animation-duration: 1.5s;
}


@keyframes title {
	0% {opacity: 0;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}
