
body {
		background-color: rgba(192,192,192,0.4);
		white-space: pre-line;
}

.headerTitle {
	font-size: 15pt;
	margin-top: 3%;
	text-align: center;
}

.choseBlock {
	margin-top: 5%;
	margin-left: 2%;
}

.choseBlockTextTitle {
	text-align: center;
	font-size: 20pt;
	margin-top: 2%;
}

.choseBlockTextText {
	font-size: 15pt;
	margin-top: 2%;
}

.invitationsDistrict, .videoDistrict, .webEventDistrict {
	width: 30%;
	height: 30%;
	margin-left: 10px;
}

.invitationsDistrict:hover, .videoDistrict:hover, .webEventDistrict:hover {
	opacity: 0.6;
}