
.containersMenu {
	background-color: #3d3d3d; 
	padding: 2%;
	margin-top: 10px;
	color: white;
}

.containersMenuAboutus, .containersMenuContact {
	display: inline-block;
	font-size: 25pt;
}

.containersMenuAboutus {	
	margin-left: 5%;
}

.containersMenuContact {
	margin-left: 20%;
}

.containersBlock {

}

.weddingContainer {
	background: rgba(230,237,235,0.8);
}


.adultContainer {
	background: rgba(197,232,223,0.8);
}

.childrenContainer {
	background: rgba(138,191,178,0.8);
}

.weddingContainer,  .adultContainer, .childrenContainer{
	border-width: 5px;
	border-color: white;
	border-radius: 10px;
	}

.weddingContainerTitle, .adultContainerTitle, .childrenContainerTitle, .contactBlockTitle {
	font-size: 25pt;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

.weddingContainerText, .adultContainerText, .childrenContainerText {
	font-size: 15pt;
	margin-left: 4%;
	margin-bottom: 5%;
}

.weddingContainerImage, .adultContainerImage, .childrenContainerImage {
	margin-top: 3%;
	margin-left: 5%;
	width: 300px;
	height: 300px;
}

.weddingContainerImage:hover, .adultContainerImage:hover, .childrenContainerImage:hover {
	opacity: 0.6;
}

.output {
	font-size: 20pt;
	text-align: center;
}

.fields {
	margin-top: 3%;
	margin-left: 3%;
}

.inputFields, .inputText {
	margin-top: 3%;
	margin-bottom: 3%;
}


#userName, #userEmail, #subject, #inputArea {
	width: 85%;
	margin-top: 4%;
}

#inputArea {
	height: 150px;
}

.inputBtn {
	margin-left: 20%;
	padding: 3%;
	font-size: 30pt;
	border-radius: 10px;
}

.inputBtn:hover {
	opacity: 0.6;
}



