
.inWorkBlockText {
	margin-top: 20%;
	font-size: 25pt;
	margin-left: 5%;
	text-align: center;	
}

.inWorkBlockBtn {
	margin-top: 5%;
	margin-left: 35%;
	padding: 5%;
	font-size: 25pt;
	border-radius: 10px;
}

.inWorkBlockBtn:hover {
	opacity: 0.6;
}