
.pagesMenu {
	background-color: #3d3d3d; 
	padding: 2%;
	margin-top: 10px;
	color: white;
}

.pagesMenuBack, .pagesMenuTitle {
	display: inline-block;
	font-size: 20pt;
}

.pagesMenuBack {	
	margin-left: 5%;
}

.pagesMenuTitle {
	margin-left: 15%;
}

.weddingPage {
	margin-top: 4%;
}

.weddingPageImages, .adultPageImages, .childrenPageImages {
	width: 100%;
	height: 300px;
	margin-top: 5%;
}